.footer {
  padding: 40px 80px;
  background: black;
  color: white;
  margin-top: auto;
}

.footer-middle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 40px 0;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-column h4 {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.footer-column a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  opacity: 0.85;
  transition: 0.2s;
}

.footer-column a:hover {
  opacity: 1;
  color: #a29bfe;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
  color: white;
  opacity: 0.9;
}

.back-top {
  text-align: center;
}

.back-top a {
  border: 1px solid white;
  padding: 10px 14px;
  display: inline-block;
  color: white;
}

/* mobile */

@media (max-width: 768px) {
  .footer {
    padding: 30px 20px;
  }

  .footer-middle {
    grid-template-columns: 1fr; /* stack everything */
    gap: 25px;
    text-align: center;
  }

  .footer-column {
    align-items: center;
  }

  .footer-column h4 {
    font-size: 16px;
  }

  .footer-column a {
    font-size: 15px;
  }

  .back-top {
    margin-top: 10px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 8px;
    text-align: center;
  }

  .footer-links {
    margin-top: 5px;
  }
}
